<br>
<h1 style="margin-left: 15%;">Lista de Devoluciones</h1>
<div id="vehiculos" style="margin-left: 2%;">

  <table class="table  table-hover table-striped table-bordered border-primary " style="width:50% ;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Fecha Entrega</th>
        <th scope="col">Porcentaje de Daño</th>
        <th scope="col">Valor por Mora</th>
        <th scope="col">Valor por Daños</th>
        <th scope="col">Valor Parcial Alquiler</th>
        <th scope="col">Valor Total a Pagar</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let devolucion of listaDevoluciones| async">
        <th>{{devolucion.id}}</th>
        <td>{{devolucion.fechaEntrega}}</td>
        <td>{{devolucion.porcentajeDeDano}}%</td>
        <td>{{devolucion.valorPorMora}}</td>
        <td>{{devolucion.valorPorDanos}}</td>
        <td>{{devolucion.valorTotalAPagar-devolucion.valorPorDanos-devolucion.valorPorMora}}</td>
        <td>{{devolucion.valorTotalAPagar}}</td>
        <td> <a (click)="eliminar(devolucion.id)" class="btn btn-danger btn-sm">Eliminar</a></td>
      </tr>
    </tbody>
  </table>
</div>
