<br>
<h1 style="margin-left: 15%;">Lista de Usuarios</h1>
<div id="usuarios" style="margin-left: 2%;">

  <table class="table  table-hover table-striped table-bordered border-primary " style="width:50% ;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Cedula</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaUsuarios| async">
        <th>{{item.id}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.cedula}}</td>
        <td> <a (click)="eliminar(item.id)" class="btn btn-danger btn-sm">Eliminar</a></td>
      </tr>
    </tbody>
  </table>
</div>
